# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

src/config/secrets.ts

../.DS_Store
.DS_Store
src/.DS_Store
src/config/.DS_Store